extends layout

block content
    main.container(role='main')
        h1=title 

        form(method='POST', action='')
            div.form-group
                label #[strong * means Required]
            div.form-group
                label(for='first_name') #[strong First Name*]
                input#first_name.form-control(type='text' placeholder='First Name' name='first_name' required='true' value=(undefined===session ? '' : session.first_name))
            div.form-group
                label(for='last_name') #[strong Last Name*]
                input#last_name.form-control(type='text' placeholder='Last Name' name='last_name' required='true' value=(undefined===session ? '' : session.last_name))
            div.form-group
                label(for='party_num') #[strong Number Of People*]
                input#party_num.form-control(type='number' placeholder="e.g. 2" min="1" max="90" name='party_num' required='true' value=(undefined===session ? '' : session.party_num))
            div.form-group
                label(for='seating') #[strong Seating Preference]
                select#seating.form-control(type='select' placeholder='Select...' name='seating' required='false')
                    //- option(value='Indoors') Indoors
                    option(value='Patio') Patio 
                    //- option(value='No Preference') No Preference
            div.form-group
                label(for='cell_num') #[strong Phone Number*] (10 digits; no other characters)
                input#cell_num.form-control(type='tel' pattern="[0-9]{10}" placeholder='##########' name='cell_num' required='true' value=(undefined===session ? '' : session.cell_num))
            div.form-group(style='text-align: center; margin-top:20px;')
                button.btn.btn-primary#detailbuttons(type='submit') Submit
        - if (session != undefined)
            div(style='text-align: center;')
                a(href=session.urlPosition)
                    button.btn.btn-dark#detailbuttons Cancel
        if errors 
            ul 
                for error in errors 
                    li!= error.msg
        br
