extends layout 

block content 
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar" style='margin-left: 10px;')
            span.navbar-toggler-icon
        #main-navbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto(style='margin-left: 10px;')
                li.nav-item
                    a.nav-link(href='/waitlist/gravlaxisnotalaxative') Home/FAQ
                li.nav-item
                    a.nav-link(href='/waitlist/sessions') Active
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/waiting') Waiting 
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/notified') Notified
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/confirmed') Confirmed
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/archived') Archived
                li.nav-item
                    a.nav-link(href='/waitlist/session/create') Create New
    main.container(role='main' style='padding: 60px;')
        h1 #{title}
        h2 #{session.name}
        br     
        p.lead Notify this Guest by SMS to come in?
        br
        form(method='POST' action='')
            div.form-group(style='text-align: center;')
                input#sessionId.form-control(type='hidden', name='sessionId', required='true', value=session._id)
                button.btn.btn-primary#detailbuttons(type='submit') Notify
        br
        a(href=session.urlDetails)
            button.btn.btn-dark#detailbuttons No