extends layout 

block content 
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar" style='margin-left: 10px;')
            span.navbar-toggler-icon
        #main-navbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto(style='margin-left: 10px;')
                li.nav-item
                    a.nav-link(href='/waitlist/gravlaxisnotalaxative') Home/FAQ
                li.nav-item
                    a.nav-link(href='/waitlist/sessions') Active
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/waiting') Waiting
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/notified') Notified
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/confirmed') Confirmed
                li.nav-item
                    a.nav-link(href='/waitlist/sessions/archived') Archived
                li.nav-item
                    a.nav-link(href='/waitlist/session/create') Create New
    main.container(role='main' style='padding: 60px;')
        h1 #{title}
        br     
        p.lead Do you really want to archive #[strong sessions Notified more than 1 hour ago]?
        br
        form(method='POST' action='')
            div.form-group(style='text-align: center;')
                input#archiveSessions.form-control(type='hidden', name='archiveSessions', required='true', value='true')
                button.btn.btn-primary#detailbuttons(type='submit') Yes
        br
        a(href='/waitlist/sessions/confirmed')
            button.btn.btn-dark#detailbuttons No